.sidebar{

width:240px;

background:#0F172A;

color:white;

min-height:100vh;

padding:30px 20px;

}

.sidebar h2{

margin-bottom:45px;

text-align:center;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:16px;

margin-bottom:10px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover{

background:#2563EB;

}