.summary-card{

background:white;

padding:25px;

border-radius:12px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

transition:.3s;

}

.summary-card:hover{

transform:translateY(-5px);

}

.summary-card h4{

color:#555;

margin-bottom:10px;

}

.summary-card h2{

font-size:35px;

color:#2563EB;

}